{% extends "layout.html" %} {% block body %}
<form method="POST" action="{{ url_for('auth_create') }}">
  <table>
    <tr>
      <td>
        {{ form.name.label }}
      </td>
      <td>
        {{ form.name }}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.username.label }}
      </td>
      <td>
        {{ form.username }}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.password.label }}
      </td>
      <td>
        {{ form.password }}
      </td>
    </tr>
    <tr>
      <td>
        <input type="submit" value="Create user" />
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <ul>
          {% for error in form.name.errors %}
          <li>
            {{ error }}
          </li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <ul>
          {% for error in form.username.errors %}
          <li>
            {{ error }}
          </li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <ul>
          {% for error in form.password.errors %}
          <li>
            {{ error }}
          </li>
          {% endfor %}
        </ul>
      </td>
    </tr>
  </table>
</form>

{% endblock %}
