{% extends "layout.html" %} {% block body %}
<table>
  <tr>
    <th>Card</th>
    <th>Class</th>
    <th>Mana</th>
    <th>Attack</th>
    <th>Defence</th>
  </tr>
  {% for card in cards %}
  <tr>
    <td>{{ card.name }}</td>
    <td>{{ card.card_class }}</td>
    <td>{{ card.mana }}</td>
    <td>{{ card.attack }}</td>
    <td>{{ card.defence }}</td>

    <td>
      <form method="GET" action="{{ url_for('cards_view', card_id=card.id)}}">
        <input type="submit" value="View" />
      </form>
    </td>

    <td>
      <form
        method="GET"
        action="{{ url_for('cards_modify_form', card_id=card.id)}}"
      >
        <input type="submit" value="Modify card" />
      </form>
    </td>

    <td>
      <form
        method="POST"
        action="{{ url_for('cards_set_favourite', card_id=card.id)}}"
      >
        {% if card.favourite %}
        <input type="submit" value="Unfavourite" />
        {% else %}
        <input type="submit" value="Make favourite" />
        {% endif %}
      </form>
    </td>

    <td>
      <form
        method="POST"
        action="{{ url_for('cards_delete', card_id=card.id)}}"
      >
        <input type="submit" value="Delete" />
      </form>
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
