{% extends "layout.html" %} {% block body %} {% if current_user.is_authenticated
%}

<div>
  <a href="{{ url_for('cards_index') }}">
    <button type="button" class="btn btn-primary">Show all</button>
  </a>

  <a href="{{ url_for('cards_favourites') }}">
    <button type="button" class="btn btn-primary">Show favourite</button>
  </a>
  <a href="{{ url_for('cards_own') }}">
    <button type="button" class="btn btn-primary">Show own</button>
  </a>
  <span class="badge badge-secondary">{{ cards_by_user }} cards created</span>
</div>
{% endif %} {% if not cards %}

<h3>No cards</h3>

{% else %}
<table>
  <tr>
    <th>Card</th>
    <th>Class</th>
    <th>Mana</th>
    <th>Attack</th>
    <th>Defence</th>
  </tr>
  {% for card in cards %}
  <tr>
    <td>{{ card.name }}</td>
    <td>{{ card.card_class }}</td>
    <td>{{ card.mana }}</td>
    <td>{{ card.attack }}</td>
    <td>{{ card.defence }}</td>

    <td>
      <form method="GET" action="{{ url_for('cards_view', card_id=card.id)}}">
        <input type="submit" value="View" />
      </form>
    </td>

    <td>
      <form
        method="GET"
        action="{{ url_for('cards_modify_form', card_id=card.id)}}"
      >
        <input type="submit" value="Modify card" />
      </form>
    </td>

    <td>
      <form
        method="POST"
        action="{{ url_for('cards_set_favourite', card_id=card.id)}}"
      >
        {% if card.favourite %}
        <input type="submit" value="Unfavourite" />
        {% else %}
        <input type="submit" value="Make favourite" />
        {% endif %}
      </form>
    </td>

    <td>
      <form
        method="POST"
        action="{{ url_for('decks_add_card_to_deck', card_id=card.id)}}"
      >
        <div class="form-row align-items-center">
          <div class="col-auto my-1">
            <select
              name="deck_id"
              class="custom-select mr-sm-2"
              id="inlineFormCustomSelect"
            >
              <option selected>Choose deck</option>
              {% for deck in decks %}
              <option value="{{ deck.id }}">{{ deck.name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-auto my-1">
            <button type="submit" class="btn btn-primary">
              Add card to deck
            </button>
          </div>
        </div>
      </form>
    </td>

    <td>
      <form
        method="POST"
        action="{{ url_for('cards_delete', card_id=card.id)}}"
      >
        <input type="submit" value="Delete" />
      </form>
    </td>
  </tr>
  {% endfor %}
</table>

{% endif %} {% endblock %}
