{% extends "layout.html" %} {% block body %}
<form method="POST" action="{{ url_for('cards_modify', card_id=card.id) }}">
  <table>
    <tr>
      <td>
        {{ form.name.label }}
      </td>
      <td>
        {{ form.name(value=card.name) }}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.mana.label }}
      </td>
      <td>
        {{ form.mana(value=card.mana) }}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.attack.label }}
      </td>

      <td>
        {{ form.attack(value=card.attack) }}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.defence.label }}
      </td>

      <td>
        {{ form.defence(value=card.defence) }}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.rarity.label }}
      </td>
      <td>
        {{ form.rarity(value=card.rarity) }}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.card_class.label }}
      </td>
      <td>
        {{ form.card_class(value=card.card_class) }}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.text.label }}
      </td>
      <td>
        {{ form.text(value=card.text) }}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.favourite.label }}
        {{ form.favourite }}
      </td>
    </tr>
    <tr>
      <td colspan="0">
        <input type="submit" value="Change values" />
      </td>
    </tr>
  </table>

  <ul>
    {% for error in form.name.errors %}
    <li>
      {{ error }}
    </li>
    {% endfor %} {% for error in form.attack.errors %}
    <li>
      {{ error }}
    </li>
    {% endfor %} {% for error in form.mana.errors %}
    <li>
      {{ error }}
    </li>
    {% endfor %} {% for error in form.defence.errors %}
    <li>
      {{ error }}
    </li>
    {% endfor %}
  </ul>
</form>

{% endblock %}
