{% extends "layout.html" %} {% block body %}
<form method="POST" action="{{ url_for('cards_create') }}">
  <table>
    <tr>
      <td>
        {{ form.name.label }}
      </td>
      <td>
        {{ form.favourite.label }}
      </td>
      <td>
        <ul>
          {% for error in form.name.errors %}
          <li>
            {{ error }}
          </li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.name }}
      </td>
      <td>
        {{ form.favourite }}
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <input type="submit" value="Add a new card" />
      </td>
    </tr>
  </table>
</form>

{% endblock %}
