{% extends "layout.html" %} {% block body %}
<form method="POST" action="{{ url_for('cards_create') }}">
  <table>
    <tr>
      <td>
        {{ form.name.label }}
      </td>
      <td>
        {{ form.name }}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.mana.label }}
      </td>
      <td>
        {{ form.mana }}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.attack.label }}
      </td>

      <td>
        {{ form.attack }}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.defence.label }}
      </td>

      <td>
        {{ form.defence }}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.rarity.label }}
      </td>
      <td>
        {{ form.rarity }}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.card_class.label }}
      </td>
      <td>
        {{ form.card_class }}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.text.label }}
      </td>
      <td>
        {{ form.text }}
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <table>
          <tr>
            <td>
              {{ form.taunt.label }}
            </td>
            <td>
              {{ form.charge.label }}
            </td>
            <td>
              {{ form.divine_shield.label }}
            </td>
            <td>
              {{ form.battlecry.label }}
            </td>
            <td>
              {{ form.deathrattle.label }}
            </td>
          </tr>
          <tr>
            <td>
              {{ form.taunt }}
            </td>
            <td>
              {{ form.charge }}
            </td>
            <td>
              {{ form.divine_shield }}
            </td>
            <td>
              {{ form.battlecry }}
            </td>
            <td>
              {{ form.deathrattle }}
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.favourite.label }}
        {{ form.favourite }}
      </td>
    </tr>
    <tr>
      <td colspan="0">
        <input type="submit" value="Create card" />
      </td>
    </tr>
  </table>

  <ul>
    {% for error in form.name.errors %}
    <li>
      {{ error }}
    </li>
    {% endfor %} {% for error in form.attack.errors %}
    <li>
      {{ error }}
    </li>
    {% endfor %} {% for error in form.mana.errors %}
    <li>
      {{ error }}
    </li>
    {% endfor %} {% for error in form.defence.errors %}
    <li>
      {{ error }}
    </li>
    {% endfor %}
  </ul>
</form>

{% endblock %}
