{% extends "layout.html" %} {% block body %}

<h2>
      {{ card.name }}
</h2>

<table>
  <tr>
    <td>
    </td>
    
  </tr>
  <tr>
    <td>
      {{ card.mana }}
    </td>
   
  </tr>
  <tr>
    <td>
      {{ card.attack }}
    </td>

   
  </tr>
  <tr>
    <td>
      {{ card.defence }}
    </td>

  </tr>
  <tr>
    <td>
      {{ card.rarity }}
    </td>
  
  </tr>
  <tr>
    <td>
      {{ card.card_class }}
    </td>
    
  </tr>
  <tr>
    <td>
      {{ card.text }}
    </td>
   
  </tr>
  <tr>
    <td>
      {{ card.favourite }}
    </td>
  </tr>
  
</table>


</ul>

{% endblock %}
